body{
    background-color: aqua;
}

#parrafo{
    color: #46484c;
}
h1{
    color: #8b8b8bcc;
}

.frm1{
    padding: 5px;
    background: crimson;
    width: 200px;
    height: 250px;
}

.frm1 label{
    color: blueviolet;
}

#img{
    width: 900px;
    height: 900px;
}

#btn1{
    height: 30px;
    width: 70px;
    border-radius: 10px;
    color: #fff;
    background-color: #025157;
}